[Unit]
Description=Jurytafel Server

[Service]
ExecStart=#NODE_PATH#/jurytafel --conf /etc/jurytafel/config.json
# Lift file handle and proc limits
LimitNOFILE=32768
LimitNPROC=32768
Restart=always
RestartSec=10
User=www-data
Group=www-data
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
