@font-face {
    font-family: 'The Led Display St';
    src: url('/public/TheLedDisplaySt.woff2') format('woff2'),
        url('/public/TheLedDisplaySt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}